.theme_professional.theme_mode_dark.panelRoot {
  background-color: #1b2a32;
}

.theme_professional.theme_mode_dark .InstallCard {
  border: 1px solid grey;
  border-radius: 5px;
}

.theme_professional.theme_mode_dark .professionalMainPanelCard {
  background-color: #42424240;
}

.theme_professional.theme_mode_dark .InstallCard:hover {
  box-shadow: 2px 2px 2px 0 #00000050;
  -webkit-box-shadow: 2px 2px 2px 0 #00000050;
}

.theme_professional.theme_mode_dark .scriptsList .script .scriptTitle,
.theme_professional.theme_mode_dark .vmBackupsList .vmBackup .vmBackupTitle {
  color: #fff;
}

.theme_professional.theme_mode_dark.scriptModal .input-group,
.theme_professional.theme_mode_dark.vmBackupModal .input-group {
  color: #009688;
}

.theme_professional.theme_mode_dark.scriptModal .input-group-text,
.theme_professional.theme_mode_dark.vmBackupModal .input-group-text {
  color: #888ea8;
  background-color: #191e3a;
  border: 1px solid #1b2e4b;
}

.theme_professional.theme_mode_dark.scriptModal .form-control,
.theme_professional.theme_mode_dark.vmBackupModal .form-control {
  color: #009688;
  background-color: #1b2e4b;
  border: 1px solid #1b2e4b;
}

.theme_professional.theme_mode_dark .modernMainPanelCard {
  background-color: #42424240;
}

.theme_professional.theme_mode_dark.scriptModal .nav-link,
.theme_professional.theme_mode_dark.vmBackupModal .nav-link {
  color: #495057;
}
.theme_professional.theme_mode_dark.scriptModal .nav-link.active,
.theme_professional.theme_mode_dark.vmBackupModal .nav-link.active {
  background-color: transparent;
  color: #0d6efd;
  border-bottom: 1px solid #050718;
}
.theme_professional.theme_mode_dark.scriptModal .nav-link:not(.active),
.theme_professional.theme_mode_dark.vmBackupModal .nav-link:not(.active) {
  border-bottom: 1px solid #dee2e6;
}

.theme_professional.theme_mode_dark .PanelContent .nav-tabs .nav-link {
  color: #dddddda0;
}
.theme_professional.theme_mode_dark .PanelContent .nav-tabs .nav-link:hover,
.theme_professional.theme_mode_dark .PanelContent .nav-tabs .nav-link.active {
  color: #fff;
}

.theme_professional.theme_mode_dark .PanelContent .btn {
  color: #fff;
}
