.theme_modern .serverActions .action {
  margin-left: 5px;
  padding: 2px;
  border-radius: 3px;
}
.theme_modern .serverActions .action.disabled {
  opacity: 0.3;
}
.theme_modern .serverActions .action:not(.disabled):hover {
  background-color: #00000010;
  cursor: pointer;
}
.theme_modern .serverActions .action:not(.disabled):active {
  scale: 0.9;
}

.theme_modern .modernQuickActions {
  border-bottom: 1px solid #aaaaaa80;
}

.theme_modern .scriptsList .script,
.theme_modern .vmBackupsList .vmBackup {
  margin: 10px;
  cursor: pointer;
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  transition: 0.1s;
  border: 1px solid #00000000;
  border-radius: 10px;
  color: #00000000;
}

.theme_modern .scriptsList .script.done,
.theme_modern .scriptsList .script.active,
.theme_modern .vmBackupsList .vmBackup.active {
  /* border: 2px solid #69ca62 !important; */
  color: #69ca62;
}

.theme_modern .scriptsList .script.failed {
  /* border: 2px solid #ff0000a5 !important; */
  color: #ff0000a5;
}

.theme_modern .scriptsList .script.canceled {
  /* border: 2px solid #e2a03f !important; */
  color: #e2a03f;
}

.theme_modern .scriptsList .script:hover,
.theme_modern .vmBackupsList .vmBackup:hover {
  border: 1px solid #aaa;
}

.theme_modern .scriptsList .script:active,
.theme_modern .vmBackupsList .vmBackup:active {
  background-color: #ccc;
}

.theme_modern .scriptsList .script img,
.theme_modern .vmBackupsList .vmBackup svg {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 75%;
}

.theme_modern .vmBackupsList .vmBackup svg {
  color: #0d6efd;
}

.theme_modern .scriptsList .script .scriptTitle,
.theme_modern .vmBackupsList .vmBackup .vmBackupTitle {
  margin: auto;
  text-align: center;
}

.theme_modern .scriptsList .script::before,
.theme_modern .scriptsList .script::after,
.theme_modern .vmBackupsList .vmBackup::before,
.theme_modern .vmBackupsList .vmBackup::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.theme_modern .scriptsList .script::before,
.theme_modern .scriptsList .script::after,
.theme_modern .vmBackupsList .vmBackup::before,
.theme_modern .vmBackupsList .vmBackup::after {
  border-radius: 10px;
  content: "";
  margin: -5px;
  box-shadow: inset 0 0 0 2px;
}
.theme_modern .scriptsList .script.active::before,
.theme_modern .scriptsList .script.active::after,
.theme_modern .vmBackupsList .vmBackup.active::before,
.theme_modern .vmBackupsList .vmBackup.active::after {
  animation: modernScriptOrVmBackupActiveAnim 4s linear infinite;
  /* background-color: rgba(255, 0, 0, 0.3); */
}
.theme_modern .scriptsList .script.active::before,
.theme_modern .vmBackupsList .vmBackup.active::before {
  animation-delay: -2s;
}

@keyframes modernScriptOrVmBackupActiveAnim {
  0%,
  100% {
    clip: rect(0px, 132px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 132px, 0px);
  }
  50% {
    clip: rect(125px, 132px, 132px, 0px);
  }
  75% {
    clip: rect(0px, 132px, 132px, 130px);
  }
}

.theme_modern .modernMainPanelCard {
  border-radius: 20px;
  border: 1px solid #aaaaaa50;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
